<a href="https://colab.research.google.com/github/Vaibhav9369755717/AI-ML-2-internship-/blob/main/Untitled12.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Day 1 â€“ Python Basics Practice Code

# 1. Print statement
print("Welcome to AI and ML Course")

print("hello world")

Welcome to AI and ML Course
hello world

In [ ]:
# 2. Variables
name = "Student"
age = 20
cgpa = 7.5
AGE =12
print(name)
print(age)
print(cgpa)
print(AGE)

Student
20
7.5
12

In [ ]:

# 3. Data types
print(type(name))   # string
print(type(age))    # int , 5 6 7 8 10
print(type(cgpa))   # float

<class 'str'>
<class 'int'>
<class 'float'>

In [ ]:

# 4. User input
student_name = input("Enter your name: ")
student_cgpa = input("Enter your CGPA: ")

print(student_name)
print(student_cgpa)
print(type(student_cgpa))


# s = "123"
# num = int(s)
# print(num)
# print(type(num))
# print(type(s))

Enter your name: sid
Enter your CGPA: 7.8
sid
7.8
<class 'str'>

In [ ]:

# 5. Type conversion
student_cgpa = float(student_cgpa)
print(type(student_cgpa))

<class 'float'>

In [ ]:
student_cgpa = float(input("Enter CGPA: "))

if student_cgpa >= 8:
    print("Excellent placement chances")
elif student_cgpa >= 6:
    print("Average placement chances")
else:
    print("Low placement chances")

Enter CGPA: 7.8
Average placement chances

In [ ]:
print("ajay")

ajay